:root {
  --color-blue: #0095f6;
  --color-gray: #8e8e8e;
  --color-gray--light: #fafafa;
  --color-white: #ffffff;

  --color-input: #0095f66e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;

  background-color: var(--color-gray--light);

  overflow-x: hidden;
}

a {
  color: var(--color-blue);
  font-weight: 600;
}

:focus {
  outline: var(--color-input) auto 1px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.app-main--image {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 26rem;
}

.app-main--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 44%;

  min-height: 34rem;
}

.app-main--group {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  justify-content: space-between;
  padding: 1.3rem 0;
  border: 1px solid lightgray;

  background-color: var(--color-white);
}

.logo-instagram {
  height: 4rem;
}

.profile {
  width: 6rem;
  border-radius: 50%;
  outline: none;

  margin: 1rem 0;
}

.btn-continue {
  background-color: var(--color-blue);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-weight: 600;
  color: var(--color-white);

  margin: 1rem 0;
}

.app-main--group a {
  margin: 0.5rem 0;
}

.app-main--group:nth-child(2) p, .app-main--group:nth-child(4) p {
  color: var(--color-gray);
}

.app-main--group:nth-child(5) {
  background-color: transparent;
  margin-top: 1rem;
  padding: 0;
  border: 0;

  display: flex;
  justify-content: space-evenly;
}

.app-main--apps {
  display: flex;
  justify-content: space-evenly;

  width: 80%;
}

.app-main--apps img {
  width: 8rem;

  margin: 0.5rem 0;
}

.app-main--input {
  padding: 0.7rem;
  margin: 0.2rem 0;
  border: 1px solid lightgray;
  border-radius: 3px;

  width: 75%;
}

.app-main--input.first {
  margin: 2rem 0 0.2rem;
}

.app-main--group:nth-child(3) button {
  width: 75%;
}

.app-main--group:nth-child(3) small  {
  text-align: right;
  color: var(--color-gray);

  cursor: pointer;
}

/* --------------------------------------------------------- */
/* ------------------------- DETAIL -------------------------*/
/* --------------------------------------------------------- */

.page {
  width: 100vw;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--color-white);
  border-bottom: 1px solid lightgray;

  height: 3.5rem;
  width: 100vw;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 2.5rem;
}

.search {
  width: 10%;
}

.search input {
  border: 1px solid lightgray;
  background-color: var(--color-gray--light);
  padding: 0.4rem 1rem;
  border-radius: 3px;
}

.navbar ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  width: 14rem;

  justify-content: space-evenly;
}

.container-fluid {
  display: flex;
  justify-content: center;
  width: 80%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  margin-top: 2rem;
}

.card {
  padding: 1.3rem;
  border: 1px solid lightgray;
  border-radius: 3px;

  margin-bottom: 2rem;

  background-color: var(--color-white);
  width: 100%;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  overflow: hidden;
  
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;

  margin-bottom: 0.5rem;
}

.border {
  padding: 1rem;
  position: relative;
  padding: 3px;
  margin-bottom: 0.5rem;

  width: 65px;
  height:65px;
  border-radius: 50%;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.circle--golden {
  background: url('../img/golden.jpg');

  background-clip: content-box;
  padding: 1px;
}

.circle--bull {
  background: url('../img/bull_terrier.jpg');

  background-clip: content-box;
  padding: 1px;
}

.circle--doge {
  background: url('../img/doge.jpg');

  background-clip: content-box;
  padding: 1px;
}

.circle--dog1 {
  background: url('../img/dog7.png');

  background-clip: content-box;
  padding: 1px;
}

.circle--dog2 {
  background: url('../img/dog8.jpg');

  background-clip: content-box;
  padding: 1px;
}

.circle--dog3 {
  background: url('../img/dog9.jpg');

  background-clip: content-box;
  padding: 1px;
}

.circle--dog4 {
  background: url('../img/dog5.jpg');

  background-clip: content-box;
  padding: 1px;
}

.content-story {
  text-align: center;
}

.card:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card:nth-child(2) .circle, .card:nth-child(3) .circle, .card:nth-child(4) .circle, .card:nth-child(5) .circle, .card:nth-child(6) .circle   {
  width: 40px;
  height: 40px;
  
  margin: 1rem;
}

.card:nth-child(2), .card:nth-child(3), .card:nth-child(4), .card:nth-child(5), .card:nth-child(6) {
  padding: 0;
}

.card:nth-child(2) .image {
  background: url('../img/dog1.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-child(3) .image {
  background: url('../img/dog2.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-child(4) .image {
  background: url('../img/dog3.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-child(5) .image {
  background: url('../img/dog4.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:nth-child(6) .image {
  background: url('../img/dog6.jpg');
  height: 35rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-card span {
  font-weight: 600;
}

.nav-card--bottom { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;
}

.card-left {
  display: flex;
  justify-content: space-between;
  width: 18%;
}

.detail {
  width: 34%;

  display: flex;
  align-items: center;

  position: fixed;
  right: 0;
  height: 10.5rem;
}

.detail--image {
  background: url('../img/profile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;

  border-radius: 50%;
  overflow: hidden;
}

.detail--text {
  padding-left: 1rem;
}

.detail--text .user {
  font-weight: 600;
}

.detail--text .name {
  color: var(--color-gray);
}

.detail small {
  position: absolute;
  bottom: 20px;

  color: var(--color-gray);
}

@media only screen and (max-width: 768px) {
  .app-main--image {
    display: none;
  }

  .container {
    width: 100%;
  }

  .app-main--content {
    width: 100%;
  }

  .app-main--group {
    border: none;
    background: transparent;
  }

  .detail {
    display: none;
  }

  .container-fluid {
    width: 100%;
  }

  .cards {
    width: 100%;

    margin-top: 0;
  }

  .card:nth-child(2), .card:nth-child(3), .card:nth-child(4), .card:nth-child(5), .card:nth-child(6) {
    border: transparent;
  }

  .card:nth-child(1) {
    overflow: auto;
  }

  .content-story {
    margin-right: 1rem;
  }

  .search {
    display: none;
  }

  .card-left {
    width: 30%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .detail {
    display: none;
  }

  .container-fluid {
    width: 100%;
  }

  .cards {
    width: 100%;

    margin-top: 0;
  }

  .card:nth-child(2), .card:nth-child(3), .card:nth-child(4), .card:nth-child(5), .card:nth-child(6) {
    border: transparent;
  }

  .card:nth-child(1) {
    overflow: auto;
  }

  .content-story {
    margin-right: 1rem;
  }

  .search {
    display: none;
  }

  .card-left {
    width: 30%;
  }
}
